<div class="aboutus_main_div">

    <div class="about_us_div">
        <p>
            Green Soft is the leading IT company and training institute in Hajipur, BIHAR. Green Soft has been founded
            by MD Saddam Husain in 2016. We provide web app development and software development in bihar.
            we have top class developer team, they always dedicated to build your website attractive and trendy. Our
            software solutions are scalable, flexible, and most importantly, it secure. Our solutions architects and web
            development teams work alongside you early in your involved to pinpoint exactly how you expect your business
            to evolve. Then, we strategically layout a roadmap and identify what role technology plays in achieving
            your business objectives. You share the scope of work to us then we thoroughly research on the scope of work
            because we want to delivered you branded website which are valuable in market. We provide the service like
            Web develpoment, software development, digital marketing, SEO Services, E-Commerce website, custom software
            development, web hosting, logo design and annual maintenance services for computer hardware and networking.
            We provide advanced Industrial Training on Software Development. We are one of the fastest emerging IT
            company in Bihar. Green soft Having trained thousands of students in assorted Vocational training sectors
            since 2016 and Ranked amongst the top-notch places for IT Education, Green soft has been imparting the best
            knowledge in the fields of Web development, Computer languages, Computer programming, Web designing, Graphic
            Designing, Animation, Networking and Ethical hacking, from basic to advance level. We having trained more
            than 10000 students in the last 6 years through it, Green soft is a leading Education & Training Institute
            based in Bihar (India). We provide with quality computer programming and development education at an
            affordable fee, beacuse we wanted to teach also a thats students which are belong to poverty line. Our
            students have been taken placement by many organizations. like TCS, Wipro, HCL, Goverment IT. We have
            prepared hundreds of our mentor for reputed certifications like-Programming languages, web development,
            frontend developer, Full stack developer, database developer. Our company is Managed by experts in the field
            of IT and Business Management, we have continued to acquire qualified, experienced and adept professionals
            in my company. </p>
    </div>
    <div class="about_us_header">
        <h1>Our Mission</h1>
    </div>
    <div class="our_mission">
        <p>
            Our mission is to be constantly growing as a professional IT company and to make IT hub in Bihar and we are
            working on turning all the small and big market of Bihar into digital marketing. Our mission is to
            develop Innovative and Cost-effective IT Solutions that enables every kinds of business to establish
            visibility online, increase business, and improve productivity. We believes in quality services meeting
            international standards.
        </p>
    </div>
    <div class="about_us_header">
        <h1>Our Vision</h1>
    </div>
    <div class="our_vision">
        <p>
            Our vision is to be trusted and respected as a top class IT company in delivering and developing state of
            the technology, innovative IT solution for our clients to improve profits as well as build efficiency. Our
            vision is to become a major IT service provider by adopting with the changing enviroment, creative software
            and web solutions in the competitive global market and to be more customer service oriented by applying
            effective strategies and advanced technology.
        </p>
    </div>
    <div class="about_us_header">
        <h1>Have A Look</h1>
    </div>
    <div class="video_box">
        <swiper class="mySwiper" [navigation]="true" [config]="swiperConfig" [autoplay]="{
            delay: 6000,
            disableOnInteraction: false}">
            <ng-template swiperSlide>
                <mat-card class="example-card">
                    <h2>Green Soft</h2>
                    <video width="100%" height="84%" controls poster="assets/img_1.jpg" autoplay>
                        <source src="assets/video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </mat-card>
            </ng-template>

            <ng-template swiperSlide>
                <mat-card class="example-card">
                    <h2>Green Soft</h2>
                    <video width="100%" height="84%" controls poster="assets/img_1.jpg" autoplay>
                        <source src="assets/video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </mat-card>
            </ng-template>

            <ng-template swiperSlide>
                <mat-card class="example-card">
                    <h2>Green Soft</h2>
                    <video width="100%" height="84%" controls poster="assets/img_1.jpg" autoplay>
                        <source src="assets/video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </mat-card>
            </ng-template>


            <ng-template swiperSlide>
                <mat-card class="example-card">
                    <h2>Green Soft</h2>
                    <video width="100%" height="84%" controls poster="assets/img_1.jpg" autoplay>
                        <source src="assets/video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </mat-card>
            </ng-template>
            <ng-template swiperSlide>
                <mat-card class="example-card">
                    <h2>Green Soft</h2>
                    <video width="100%" height="84%" controls poster="assets/img_1.jpg" autoplay>
                        <source src="assets/video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </mat-card>
            </ng-template>
            <ng-template swiperSlide>
                <mat-card class="example-card">
                    <h2>Green Soft</h2>
                    <video width="100%" height="84%" controls poster="assets/img_1.jpg" autoplay>
                        <source src="assets/video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </mat-card>
            </ng-template>
            <ng-template swiperSlide>
                <mat-card class="example-card">
                    <h2>Green Soft</h2>
                    <video width="100%" height="84%" controls poster="assets/img_1.jpg" autoplay>
                        <source src="assets/video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </mat-card>
            </ng-template>
            <ng-template swiperSlide>
                <mat-card class="example-card">
                    <h2>Green Soft</h2>
                    <video width="100%" height="84%" controls poster="assets/img_1.jpg" autoplay>
                        <source src="assets/video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </mat-card>
            </ng-template>
        </swiper>
    </div>
    <div class="about_us_header">
        <h1>About Founder</h1>
    </div>
    <div class="our_director">
        <div class="img_box">
            <img src="assets/Frontent design in hajipur.jpeg">
        </div>
        <div class="text_box">
            <p>
                Green Soft doesn't just only provided software services and website design. Green Soft help to build
                your business through digital marketing. If you want to grow your business through digital marketing
                then Green Soft will be best choice for you, so please one time contact us. We develop software
                application and web application according to suitable user requirements. We offer affordable low-cost
                web design with our web design services for all personal websites and business websites. Design services
                for all personal websites and business websites. If yout want to grow your business through digital
                marketing then Green Soft will be best choice for you so please one time contact us. We develop software
                application and web application according to suitable user requirements. We offer affordable low-cost
                web design with our web design services for all personal websites and business websites. Design services
                for all personal websites and business websites.
            </p>
        </div>
    </div>
</div>