<!-- <div class="our_services_header">
    <h1>Our Services</h1>
</div> -->
<div class="our_services_area">
    <div class="our_services_header">
        <h1>Web Development</h1>
    </div>
    <div class="services_div">
        <div class="img_box_1">
            <img src="assets/Software development company in bihar.gif">
        </div>
        <div class="text_box_1">
            <!-- <div class="header">
                <h1> Web Development</h1>
            </div> -->
            We provide top quality Web development services in Bihar. Where we give creative and impactful design for
            your website and application. We also provide custom services where you can be easily implements new
            features in your website or application. Here we design creative and Decent quality web architecture doors
            to the website to increase the customers and generate traffic and to rank on the top. We work with
            experienced expert team. Our servies involved in web development and design ecommerce website, corporate,
            portfolio, graphics design, Blog Customization or Management, Website Maintenance. We make cost effective
            design. We explore strategis to scale your web product, ensuring that business work appropriately. With well
            established project architecture, your website can respond to project demands and handle high load traffic
            when necessary. One of the pillars of a successful digital transition is security. We build with safety in
            mind, authentication and authorization services, access control an other features.
        </div>
    </div>
    <div class="our_services_header">
        <h1>Software Development</h1>
    </div>
    <div class="services_div2">
        <div class="text_box_2">
            <!-- <div class="header">
                <h1>Software Development</h1>
            </div> -->
            Green Soft provide Software Development services where you make your system software, mobile app, desktop
            app, any other personal use software. We provide customized software with online, offline facilities
            software solution with high performance application development services to all range of organizations from
            small to large scale. We developed software with low friction and highly secured. We transform your idea to
            innovative software solutions using the best class technologies. We have specialize and experienced team of
            software engineers with the right blend of skills and experience, They will work exclusively on your
            product, giving their full attention. Our designing is actionable prototype that provides a concrete picture
            of how your software will look and function. We follow the phases of software development life cycle (SDLC)
            including planning, creation, testing andexecution. We provide software maintainence services to enhance,
            improve, modify, update, update, or upgrade software application as set forth in a statement of work.
        </div>
        <div class="img_box_2">
            <img src="assets/Software development in bihar.gif">
        </div>
    </div>

    <div class="our_services_header">
        <h1>SEO Support</h1>
    </div>
    <div class="services_div">
        <div class="img_box_3">
            <img src="assets/App development company in hajipur.gif">
        </div>
        <div class="text_box_3">
            <!-- <div class="header">
                <h1>SEO Support</h1>
            </div> -->
            Green Soft is the best SEO company in Hajipur, which will help you to attain visible sales in your business.
            SEO (Search Engine Optimization) is a technique of creating new web page and editing existing one in such a
            way that it could rank in the possible top position in Search Engines Result Pages (SERPs) of various top
            search engines like Google, Yahoo and Bing. SEO Process is one of the most cost effective ways to attract
            targeted visitors to a website through organic search if it could be performed effectively for search engine
            ranking. SEO can have a major positive impact on your business and it's important to choose a professional
            search marketing firm that can provide results. Whether your needs are in lead generation SEO or eCommerce
            SEO, Website page speed optimization, Green Soft is experienced in creating successful organic search
            marketing campaigns. We believe that building a website without SEO is like writing a book without publishing it.
        </div>
    </div>
    <div class="our_services_header">
        <h1>Networking Services</h1>
    </div>
    <div class="services_div4">
        <div class="text_box_4">
            <!-- <div class="header">
                <h1>Networking Services</h1>
            </div> -->
            Green Soft provide Computer networking involves connecting computers in the same building or office so users
            can easily communicate with other computers or devices. Switches connect multiple devices in one building
            on the same network. Computers, for instance, can connect to printers, fax machines, scanners and servers
            through a switch. Routers tie multiple networks together, such as when a computer connects to an internet
            router to access the web. Routers control the information to and from computer networks through security
            software and programs. We offer wired and wireless business network solutions, that offer a consistent user
            experience and address common networking challenges, while allowing you to take control of your networks
            future, all the while allowing you to remain flexible to adopt new technologies, improve your
            infrastructure, increase performance and lower your costs. Our networking solutions are based on open
            standards, which free you from outdated proprietry approaches, instead allowing you to evolve your network
            in your own time.
        </div>
        <div class="img_box_4">
            <img src="assets/Mobile app development company in  bihar.gif">
        </div>
    </div>
    <div class="our_services_header">
        <h1>Domain & hosting Support</h1>
    </div>
    <div class="services_div">
        <div class="img_box_5">
            <img src="assets/BCA intrernship in patna.gif">
        </div>
        <div class="text_box_5">
            <!-- <div class="header">
                <h1>Domain & hosting Support</h1>
            </div> -->
            <p> Soft is best place for hosting and domain service in Hajipur. We provide complete web hosting solution
                that keeps sites running quickly and limits costly downtime. Our dedicated hosting team has extensive
                experience and training working with hosting services. If there an issue on your site or server, make one call (or
                send an email) and we will solve the issue shortly. We care about your website, even after It is gone
                live. We secure web hosting and technical support included with every Green Soft website, you can be sure that your
                website is available to your visitors anywhere, anytime. We provide Shared web Hosting, VPS Web Hosting,
                Dedicated Web Hosting with Linux and Windows operating systems servers. Green Soft can register your domain of
                extensions of your choice at very affordable and competitive price. With tens of thousands of domain
                names being registered daily it is very important to register your company or personal domain name before
                someone else does! Even if you are not quite ready to place a website online you should reserve and "park" your
                domain name without delay.</p>
        </div>
    </div>
    <div class="our_services_header">
        <h1>Project Training</h1>
    </div>
    <div class="services_div6">
        <div class="text_box_6">
            <!-- <div class="header">
                <h1> Project Training</h1>
            </div> -->
            Green Soft is popular in Bihar Patna and Hajipur for provide best project training and courses of website
            desgin, software application, mobile application, seo training, digital marketing, networking and computer
            hardwares. we offer wide variety of IT Course. we teach our students from basic to advance. we also teach
            MCA/BCA
            syllabus. We do projects with our students along with theoretical knowledge to enhance their skills to fit
            in the growing need of Information technology sector. We have well experienced and technical team to develop
            software for commercial purpose. we provide project guideline to our students to develop real and live
            application. we also make video tutorial on various languages like C, C++, HTML, VB.Net, Java, DBMS, Angular
            and many
            more which is available on youtube.
        </div>
        <div class="img_box_6">
            <img src="assets/Skilled related courses in bihar.gif">
        </div>
    </div>
    <div class="our_services_header">
        <h1>Bulk SMS</h1>
    </div>

    <div class="services_div">
        <div class="img_box_7">
            <img src="assets/Information technology company in hajipur.gif">
        </div>
        <div class="text_box_7">
            <!-- <div class="header">
                <h1>Bulk SMS</h1>
            </div> -->
            Green Soft provide bulk SMS at very low cost. In this changing era the role of SMS is more important for any
            business. It can help to increase customer engagement, promote products and services or deliver urgent
            notifications to your audiences. It’s a targeted communication platform which is measurable in ROI(Return on
            ivestment), as long as your message offering is personal and value-adding, with a clear call-to-action. We
            enable the world toeasily communicate short, relevant messages. Invasive messaging
            without your customer’s consent will give your business a bad name. To avoid disruptive texting, your
            business should also only be sending messages to people who have requested to receive updates from you.
        </div>
    </div>

    <div class="our_services_header">
        <h1>mobile App Development</h1>
    </div>

    <div class="services_div8">

        <div class="text_box_8">
            <!-- <div class="header">
                <h1>Bulk SMS</h1>
            </div> -->
            Green Soft provides mobile app development services that refer to the creation of software applications that are
            designed to run on mobile devices, such as smartphones and tablets. The process of these app generally involves creating
            a user interface and design, coding the logic of the app , testing the app and then make it available for download
            through an App Store or Google Play . Our mobile app developers create solutions that work seamlessly across all
            platforms and operating systems: smartphone, tablet, laptop, iOS or Android. We have all the expertise you need to
            produce fully-fledged, stable, and scalable mobile applications.
            
        </div>
        <div class="img_box_8">
            <img src="assets/Best bca coaching in hajipur.webp">
        </div>
    </div>

</div>