<div class="training_area">
    <div class="training_box_header">
        <h1>C Programing</h1>
    </div>
    <div class="training_box">
        <div class="image_div1">
            <mat-card class="example-card">
                <img mat-card-image src="assets/Full stack developer in hajipur.jpg" alt="Photo">
                <mat-card-content>
                    <h3>C Porgramming Training</h3>
                    <ul class="social-links">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="text_div1">
            Green Soft provide C Programming Training in Hajipur Bihar. This is the only one institute which provide
            core concept of C Programming. We have top quality faculty who trained you for C programming and and making
            project. C is the most popular programming language which is use to develop dynamic websites, software, and
            desktop applications and system software and so on. This programming language is used in Artificial Intelligence for giving
            instructions as like human sense. C programming is strongly associated with UNIX, as it was developed to
            write the UNIX operating system. We provide core concept, hand written notes, live project training, and will arrange interviews for your
            placement prepare and so on facilities.
            <div class=""></div>
        </div>
    </div>
    <div class="training_box_header">
        <h1>C++ Training</h1>
    </div>
    <div class="training_box2">
        <div class="text_div2">
            C++ is the most popular programming language which is use to develop dynamic websites, software , and
            desktop applications and so on. We will provide you in this training our hand written notes, live project
            training, dynamic programming, Data Structure and Algorithm with c++ and so on facilities we are going to provide you.
            We will arrange interviews for your placement prepare. You can get classes of our courses online and offline
            both. C++ is a cross-platform language that can be used to create high-performance applications Most important thing
            that in this training program you can get certificate of this tutorial by our company. Green soft is the
            best it company with top class developer team.
        </div>
        <div class="image_div2">
            <mat-card class="example-card">
                <img mat-card-image src="assets/python web development in hajipur.jpg" alt="Photo">
                <mat-card-content>
                    <h3>C++ Training</h3>
                    <ul class="social-links">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="training_box_header">
        <h1>Java Training</h1>
    </div>
    <div class="training_box">
        <div class="image_div3">
            <mat-card class="example-card">
                <img mat-card-image src="assets/web design and development bihar.jpg" alt="Photo">
                <mat-card-content>
                    <h3>Java Training</h3>
                    <ul class="social-links">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="text_div3">
            We provide top class training on JAVA Where you able to make any types of software.
            Java is a programming language and computing platform first released by Sun Micro systems in 1995. Java is
            fast, secure, and reliable. From laptops to datacenters, game consoles to scientific
            supercomputers, cell phones to the Internet, Java is everywhere! The Advanced Java increases the advance
            java skills and helps the programmers to better utilize the advance features ofnJava technology. After learning our Advance Java you
             will be able to apply the advance concepts to develop the applications and web application to any software. We give opportunity to work on
            live project during training and give course certificate and experience certificate by our company. This is the best training institute in Bihar.
        </div>
    </div>

    <div class="training_box_header">
        <h1>VB.NET Training</h1>
    </div>
    <div class="training_box4">
        <div class="text_div4">
            Green Soft provide traning on VB.NET. It is a multi-paradigm, object-oriented programming language,
            implemented on .NET, Mono, and the .NET Framework. With VB.NET, you can create applications that are fully object-oriented, similar to the ones created in
            other languages like C++, Java, or C#. Programs written in VB.NET can also interoperate well with programs written in Visual
            C++, Visual C#, and Visual J#. VB.NET treats everything as an object.
            They are much secure, robust, high-performance, and easy to develop. You will learn
            each and every concept of VB.NET from basic to advance level. You get here opportunity to work on live
            project during training and get course certificate as well as experience certificate from this company. To learn or enhance your skills, you should be join green soft
            it company, because green soft is the only one institute in bihar that belive in result which are getting by student or trainee.
        </div>
        <div class="image_div4">
            <mat-card class="example-card">
                <img mat-card-image src="assets/web development services in hajipur.jpg" alt="Photo">
                <mat-card-content>
                    <h3>VB.NET Training</h3>
                    <ul class="social-links">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>


    <div class="training_box_header">
        <h1>C# Training</h1>
    </div>
    <div class="training_box">
        <div class="image_div5">
            <mat-card class="example-card">
                <img mat-card-image src="assets/website developers in patna.jpg" alt="Photo">
                <mat-card-content>
                    <h3>C# Training</h3>
                    <ul class="social-links">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="text_div5">
            Green soft C Sharp (C#) training from basic to advance level. C# are the programs, namespaces, types,
            members, and assemblies. Programs declare types, which contain members and can be organized into namespaces. Classes, structs, and interfaces are examples of
            types. Fields, methods, properties, and events are examples of members. You can learn all these concept through Green soft because they provide a top qulaity
            hand written notes and practices on that particular language as well as they give opportunity for working on live project to enhance your skills
            and get courses certificate and experience certificate after training complete. Green soft believe in result that are getting by student and
            trainne because they always dedicated to deliver best quality content and skill which are beneficail to get placed on corporate company or
            multilevel company. We will also arrange interviews for your placement prepare. You can get classes of our courses online and
            offline both.
        </div>
    </div>


    <div class="training_box_header">
        <h1>Database Training</h1>
    </div>
    <div class="training_box6">
        <div class="text_div6">
            Green Soft provide Database training in Hajipur Bihar. We have top quality faculty, They will explain you
            each and every concept of Database from basic to advance.
            In this Training, you will create relational databases, write SQL statements to extract information to
            satisfy business reporting requests, create entity relationship diagrams (ERDs) to design databases, and analyze table
            designs for xcessive redundancy. As you develop these skills, you will use either Oracle, MySQL, or PostgreSQL to
            execute SQL statements and a database diagramming tool such as the ER Assistant or Visnual Paradigm to create ERDs. You
            get opportunity to work on live project after clarity of all concept of database during training period and get training certificate as well as experience
            certificate which show you more valuable in front of multinational company. We will also arrange interviews for your placement prepare and so on
            facilities.

        </div>
        <div class="image_div6">
            <mat-card class="example-card">
                <img mat-card-image src="assets/web app development in bihar.jpg" alt="Photo">
                <mat-card-content>
                    <h3>Database Training</h3>
                    <ul class="social-links">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="training_box_header">
        <h1>Python Training</h1>
    </div>
    <div class="training_box">
        <div class="image_div7">
            <mat-card class="example-card">
                <img mat-card-image src="assets/app making websites company.jpg" alt="Photo">
                <mat-card-content>
                    <h3>Python Training</h3>
                    <ul class="social-links">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="text_div7">
            Green Soft provide Python training that teach you, where the essential concepts of Python programming and
            gives you an in-depth knowledge in Data analytics, Machine learning, Data visulisation, Web scraping and Natural language
            processing. You will master the essential concepts of data types, tuples, list, dictionary, basic operator and function.
            Green soft will have top quality expert team will trained you through Python where you will learn uses of python in
            MYSQL, MongoDB and many other Databse. Python is one of the popular language in the IT Industry, These are famous because
            it's easy to learn and fun. Green soft is the only one institute that provide Python training in Hajipur Bihar, Here you
            will get training certificate as well as experience certificate after training completion. We will trained you on
            live project so that student get practical skill and know the working experience, We represent as a famous training company
            because we believe in resul. Our company also arrange interview for placement that will help you to cracked any
            interview in IT Industry.
        </div>
    </div>

    <div class="training_box_header">
        <h1>PHP Training</h1>
    </div>
    <div class="training_box8">
        <div class="text_div8">
            Green Soft provide PHP Training in Hajipur Bihar. We have a well Qualified expert team that will trained
            you, where you will working on live project. You get knowledge from basic to advance level, Here you also
            get knowledge about different types of PHP Framework like Laravel and many more. You learn basic like Operators, data,
            string, function, and Datatypes, OOP, etc. Here you make multiple project from php . You will also get trained on Advanced concept of Php language
            where all topic will be covered like, File handling, error handling, session and cookies, callback funstion and many more concept will be coveredduring training.
            They are highly in demand because wordpress which are very famous languagewhich derived from Php.
            PHP is the most widely used open source and general purpose server side scripting
            language used mainly in web development to create dynamic websites and applications. Our aim to be give
            trained and get placed. We arrange interview for the placement and finnaly we give training certificate regarding your courses.
        </div>
        <div class="image_div8">
            <mat-card class="example-card">
                <img mat-card-image src="assets/Website design course in patna.jpg" alt="Photo">
                <mat-card-content>
                    <h3>PHP Training</h3>
                    <ul class="social-links">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="training_box_header">
        <h1>Mobile App Training</h1>
    </div>
    <div class="training_box">
        <div class="image_div9">
            <mat-card class="example-card">
                <img mat-card-image src="assets/Development course in patna.jpg" alt="Photo">
                <mat-card-content>
                    <h3>Mobile App Training</h3>
                    <ul class="social-links">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="text_div9">
            Green Soft is providing Mobile App Training on very less fee in Bihar. We have designed our mobile app
            development training course in an easily understandable manner with live examples to meet the requirements
            of software industries. You can gain of a free demo session and get your doubts clarified . Green soft
            strongly believe providing their students with the ultimatum of education in not just one but plenty of
            courses especially when it comes to any student willing to learn programming who can become a master of
            programming. Green Soft is the only one institute of their respective field in Hajipur that they share the
            highest level of commitment towards quality teaching and student success & satisfaction. Here you complite
            multiple project through programming on multiple framework and also get training certificate after training
            completion as well as experience certificate. We arrange interviews for placement at top MNC company.
        </div>
    </div>

    <div class="training_box_header">
        <h1>SEO Training</h1>
    </div>
    <div class="training_box10">
        <div class="text_div10">
           
            Green Soft provide SEO training in Hajipur with high impact results, Here you get a complete knowledge
            of SEO where you learn many techniqual skills like On Page SEO, Off Page SEO, Techniqual SEO, Backlinks, Keyword
            analysis, containt optimization, SEO design & layout and many more. Our SEO training course aim to deliver
            quality training that covers all fundamental knowledge on core concepts with practical approch from basic to 
            advance. Our training class is allways to meet all requirements of students, companies, and working professionals.
            Our practical oriented training will supply you with much needed exposure to search engine optimization
            and also allow you to wait for interviews with complete confidence. You will get certificate after complition of
            the course and after you worked on live project you also get experience certificate that will help you 
            to get job opportunity easily. We also arrange interview programs to get job easily.
        </div>
        <div class="image_div10">
            <mat-card class="example-card">
                <img mat-card-image src="assets/Web development courses in bihar.jpg" alt="Photo">
                <mat-card-content>
                    <h3>SEO Training</h3>
                    <ul class="social-links">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="training_box_header">
        <h1>Digital Marketing Training</h1>
    </div>
    <div class="training_box">
        <div class="image_div11">
            <mat-card class="example-card">
                <img mat-card-image src="assets/It company in bihar.cms" alt="Photo">
                <mat-card-content>
                    <h3>Digital Marketing Training</h3>
                    <ul class="social-links">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="text_div11">
            Green soft is one of the leading IT company for digital marketing Training (SEO, SEM, SMO, SMM)
             offline and online, which is located in Hajipur. The objective of course is providing Training 
             services for various requirements in IT industry. Learn digital marketing training by Real time 
             expert with real time scenarios. Where we cover all topics of digital marketing like Digital 
             marketing strategy , types of digital marketing , keyword analysis , keyword competition and 
             many marketing tips. We provide all basic Concept of digital marketing from basic to advance. 
             Digital marketing is a processes that will grow your buisness online where many skills are 
             embedded to being to a best digital marketor. Here you learn many skills like facebook marketing,
              Instagram marketing, email marketing, linkedin marketing, youtube marketing, whatsapp marketing 
              and many more thing you learn there. 
        </div>
    </div>

    <div class="training_box_header">
        <h1>Web Design Training</h1>
    </div>
    <div class="training_box12">
        <div class="text_div12">
            We are providing web designing training in hajipur. Web Design is essential to bringing a
             website to life and creating the experience that you want for your end users. Our web design 
             courses will help you polish your HTML and CSS skills while learning about color design, 
             navigation design, and more. The web designing course online program at green soft academy 
             that enables you to master the concepts of the web designing from the basic to advance level. 
             Our expert mentors will provide you hands on training with HTML5, CSS3, JavaScript, JQuery,
              Bootstrep and PHP With MYSQL to make you build an interactive, responsive and dynamic websites.
               Here you get opportunity to worked on live project, where you will Polished your knowledge as 
               well as gradually improving your skills. You get certificate after completion the course and 
               experience certificate that will provide opportunity to get job easily on any software designing
                company. We arrange placement interview where student participate it and learn all types of 
                communication skills and other skill for selection in top it company . 

              
        </div>
        <div class="image_div12">
            <mat-card class="example-card">
                <img mat-card-image src="assets/It company in patna.jpg" alt="Photo">
                <mat-card-content>
                    <h3>Web Design Training</h3>
                    <ul class="social-links">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="training_box_header">
        <h1>Angular Training</h1>
    </div>
    <div class="training_box">
        <div class="image_div13">
            <mat-card class="example-card">
                <img mat-card-image src="assets/It company in hajipur.jpg" alt="Photo">
                <mat-card-content>
                    <h3>Angular Training</h3>
                    <ul class="social-links">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="text_div13">
            Green soft provide frameworks training on angular & react in hajipur. This Angular Certification
             Training Course will help you master front-end web development with Angular. Here you gain in-depth
              knowledge of concepts like facilitating the development of single-page web applications, 
              dependency injection, typescript, components, and directives with this Angular Course.
               AngularJS is one of the JavaScript open-source web application frameworks which is generally
                used to add an HTML page along with a tag. The major aim of AngularJS is to simplify the
                 application development and testing performance by providing a framework called MVC 
                 (Model View Controller) Architecture. It enables the application to change from bulk amount 
                 of programming code into a simple code. Angular certification course helps you understand the 
                 design of single-page applications and how Angular facilities their development. This Angular 
                 certification provides knowledge of concepts such as TypeScript, Bootstrap Grid System, 
                 dependency injections, SPA, forms, pipes, promises, observables, and Angular class testing.
        </div>
    </div>

</div>