<div id="main_footer_area">
    <div class="footer">
        <div class="footer_box" id="first_footer_box">
            <div class="header" id="firsr_header">Services</div>
            <ul>
                <a href="https://greensoft.net.in/gselearning/">
                    <li>E-Learning</li>
                </a>
                <a href="https://greensoft.net.in/cms/">
                    <li>Coaching Management System</li>
                </a>
                <a href="https://www.greensoft.net.in/oes/">
                    <li>Online Examination System</li>
                </a>
                <a href="#">
                    <li>Online Billing System</li>
                </a>
                <a href="#">
                    <li>School Management System</li>
                </a>
            </ul>
        </div>
        <div class="footer_box">
            <div class="header"> Get in touch</div>
            <div class="adress">
                <a href="https://maps.google.com/maps?q=Green+Soft+IT+Company+%26+Training+Institute/@25.6944129,85.2126865,17z/data=!3m1!4b1!4m6!3m5!1s0x3992bab6ccfea6a3:0x6b787207f71657cf!8m2!3d25.6944129!4d85.2148752!16s%2Fg%2F11fy20schc?hl=en"
                    mat-menu-item>
                    <div class="maticon"><mat-icon> location_on</mat-icon></div>
                    <span> Yadav complex infront of carnival<br><br>
                        (navin cinema hall)Hajipur,vaishali-Bihar.</span>
                </a>
            </div>
            <div class="phone">
                <a href="tel:9661647172">
                    <div class="maticon"><mat-icon>phone</mat-icon></div>

                    <span>9661647172 / 9263652102</span>
                </a>
            </div>
            <div class="whatsp" id="mob">
                <a href="https://wa.me/message/6GZQIHUTKUGCB1" data-action="share/whatsapp/share">
                    <div class="maticon"><fa-icon [icon]="faWhatsapp" class="whatsapp_icon"></fa-icon></div>
                    <span>9470407608</span>
                </a>
            </div>
            <div class="email">
                <a href="mailto:greensoft.hjp@gmail.com">
                    <div class="maticon"><mat-icon>email</mat-icon></div>

                    <span> greensoft.hjp@gmail.com </span>
                </a>
            </div>
        </div>
        <div class="footer_box">
            <div class="header">Why should choose Green Soft?</div>
            <p>Because we provide software & services which are available in your budget.
                Our expert team also suggest new ideas and features to grow your  buisness.
                If you want to grow your business through digital marketing then Green
                Soft will be best choice for you so please one time contact us. </p>
        </div>
    </div>
    <div class="last_footer">
        <h3>Copyrights © 2023. All rights reserved by Green Soft</h3>
    </div>
</div>
