<div class="events_main_div">
    <div class="annual_day_header">
        <h1>Annual Day</h1>
    </div>
    <div class="annual_day_div">
        <swiper [slidesPerView]="4" [spaceBetween]="0" [navigation]="true">

            <ng-template swiperSlide>
                <div class="img_box">
                    <img src="assets/img_1.jpg">
                </div>
            </ng-template>
            <ng-template swiperSlide>

                <div class="img_box">
                    <img src="assets/img_1.jpg">
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="img_box">
                    <img src="assets/img_1.jpg">
                </div>

            </ng-template>
            <ng-template swiperSlide>
                <div class="img_box">
                    <img src="assets/img_1.jpg">
                </div>

            </ng-template>
            <ng-template swiperSlide>
                <div class="img_box">
                    <img src="assets/img_1.jpg">
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="img_box">
                    <img src="assets/img_1.jpg">
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="img_box">
                    <img src="assets/img_1.jpg">
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="img_box">
                    <img src="assets/img_1.jpg">
                </div>
            </ng-template>
        </swiper>
    </div>
</div>