<div id="header">
    <div class="details">
        <!-- <p>
            <mat-icon> location_on</mat-icon>

            Yadav Complex Hajipur Vaishali, Bihar
        </p>
        <p>
            <mat-icon> call</mat-icon>
            9661647172
        </p>
        <p>
            <mat-icon> email</mat-icon>
            greensoft.hjp@gmail.com
        </p> -->
        <a href="https://maps.google.com/maps?q=Green+Soft+IT+Company+%26+Training+Institute/@25.6944129,85.2126865,17z/data=!3m1!4b1!4m6!3m5!1s0x3992bab6ccfea6a3:0x6b787207f71657cf!8m2!3d25.6944129!4d85.2148752!16s%2Fg%2F11fy20schc?hl=en">
            
            <mat-icon> location_on</mat-icon>

            Yadav Complex Hajipur Vaishali, Bihar
        </a>
        <a href="tel:9661647172">
            
            <mat-icon> call</mat-icon>
            9661647172
        </a>
        <a href="mailto:greensoft.hjp@gmail.com">
            
                <mat-icon> email</mat-icon>
                 greensoft.hjp@gmail.com
        </a>
    </div>
    <div class="social_icon">
        <a href="https://github.com/GsDevHjp"><fa-icon [icon]="faGithub"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        <a href="https://www.youtube.com/@GreenSoftAcademy"><fa-icon [icon]="faYoutube"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
        <a href="https://www.instagram.com/green_soft_official/"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a href="https://www.facebook.com/greensofthajipur"> <fa-icon [icon]="faFacebook"></fa-icon></a>

    </div>
</div>